# Compiled class files
*.class

# Log files
*.log

# Directories for project build artifacts
target/
bin/
out/

# Maven
.mvn/
settings.xml
dependency-reduced-pom.xml
*.jar
*.war

# Gradle
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.project
*.classpath

# Operating system files
.DS_Store
Thumbs.db
